<html>
<body>
<center><h2>录入套餐信息</h2>
<hr>
<a href="/myteay-web/manage_list.jsp">返回</a><br>

<br>
	<form enctype="multipart/form-data" method="post" action="/myteay-web/adm/add_single_goods_pkg">
		<div>
			<span><label>套餐名称</label></span>
			<span><input name="pkgName" type="text" value="1"></span>
		</div>
		<div>
			<span><label>手机价格</label></span>
			<span><input name="priceMobile" type="text"></span>
		</div>
		<div>
			<span><label>门店价格</label></span>
			<span><input name="price" type="text"></span>
		</div>
		<div>
			<span><label>小图片地址</label></span>
			<span><input name="fileSmall" type="file" size="20"><input name="picAddr" type="hidden"></span>
		</div>
		<div>
			<span><label>大图片地址</label></span>
			<span><input name="fileBig" type="file" size="20"><input name="picBigAddr" type="hidden"></span>
		</div>
		<div>
			<span><label>店铺流水号</label></span>
			<span><input name="shopId" type="text"></span>
		</div>
		<table border="0" >
			<tr>
				<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">商品ID</font></td>
				<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">店铺流水号</font></td>
				<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">图片地址</font></td>
				<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">商品标题</font></td>
				<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">价格</font></td>
				<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">备注</font></td>
				<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">上架时间</font></td>
				<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">操作</font></td>
			</tr>
				#if($!{goods_pkg_add_list})
					#foreach($info in $!{goods_pkg_add_list})
						<tr>
							<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getId()}</td>
							<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getShopId()}</td>
							<td bgcolor="#ff9933" align="center" valign="middle"><img src="$!{info.getImgParentPath()}$!{info.getPicAddr()}"/></td>
							<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getGoodsTitle()}</td>
							<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getPrice()}</td>
							<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getSummary()}</td>
							<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getGmtCreated()}</td>
							<td bgcolor="#ff9933" align="center" valign="middle">
								<input type="checkbox" name="goodsIds" value="$!{info.getId()}" />
							</td>
						</tr>
					#end
				#else
					<tr>
						<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
						<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
						<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
						<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
						<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
						<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
						<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
						<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
					</tr>
				#end
		</table>
		<div>
			<span><input type="submit" value="确    认    提    交"></span>
	  </div>
	</form>

	<a href="/myteay-web/manage_list.jsp">返回</a>
</center></body>
</html>