<html>
<body>
<center><h2>查询所有商品信息</h2>
<hr>
<a href="/myteay-web/adm/upload_single_goods">新增</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/myteay-web/manage_list.jsp">返回</a>

	<table border="0" >
		<tr>
			<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">商品ID</font></td>
			<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">店铺流水号</font></td>
			<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">图片地址</font></td>
			<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">商品标题</font></td>
			<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">价格</font></td>
			<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">备注</font></td>
			<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">上架时间</font></td>
			<td bgcolor="#660033" align="center" valign="middle"><font color="#ffffff">操作</font></td>
		</tr>
			#if($!{goods_list})
				#foreach($info in $!{goods_list})
					<tr>
						<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getId()}</td>
						<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getShopId()}</td>
						<td bgcolor="#ff9933" align="center" valign="middle"><img src="$!{info.getImgParentPath()}$!{info.getPicAddr()}"/></td>
						<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getGoodsTitle()}</td>
						<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getPrice()}</td>
						<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getSummary()}</td>
						<td bgcolor="#ff9933" align="center" valign="middle">$!{info.getGmtCreated()}</td>
						<td bgcolor="#ff9933" align="center" valign="middle">
							<a href="/myteay-web/adm/query_goods_list?method=view_detail&id=$!{info.getId()}">详情</a>
							<a href="/myteay-web/adm/query_goods_list?method=modify&id=$!{info.getId()}">修改</a>
							<a href="/myteay-web/adm/del_goods_info_by_id?id=$!{info.getId()}">删除</a>
						</td>
					</tr>
				#end
			#else
				<tr>
					<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
					<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
					<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
					<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
					<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
					<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
					<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
					<td bgcolor="#ff9933" align="center" valign="middle">&nbsp;</td>
				</tr>
			#end
	</table>

	<a href="/myteay-web/manage_list.jsp">返回</a>
</center></body>
</html>






