<html>
<body>
<center><h2>录入单个商品信息</h2>
<hr>
<a href="/myteay-web/manage_list.jsp">返回</a><br>
<br>
	<form enctype="multipart/form-data" method="post" action="/myteay-web/adm/upload_single_goods">
		<div>
			<span><label>店铺编号</label></span>
			<span><input name="shop_id" type="text" class="textbox" value="1"></span>
		</div>
		<div>
			<span><label>图片地址</label></span>
			<span><input name="pic_addr" type="hidden" class="textbox"></span><br>
			<input name="file" type="file" size="20">
		</div>
		<div>
			<span><label>商品主题</label></span>
			<span><input name="goods_title" type="text" class="textbox"></span>
		</div>
		<div>
			<span><label>价格（单位：元）</label></span>
			<span><input name="price" type="text" class="textbox"></span>
		</div>
		<div>
			<span><label>备注</label></span>
			<span><textarea name="summary"> </textarea></span>
		</div>
		<div>
			<span><input type="submit" class="mybutton" value="Submit"></span>
	  </div>
	</form>

	<a href="/myteay-web/manage_list.jsp">返回</a>
</center></body>
</html>